<%= form_with model: [:admin, @badge], local: true, html: { id: 'new_badge_form' } do |form| %>
  <%= render 'shared/errors', resource: @badge %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, id: :badge_name %>
  </p>

  <p>
    <%= form.label :url %><br>
    <%= form.text_field :url, id: :badge_url %>
  </p>

  <p>
    <%= form.label :rule %>
    <%= form.select :rule, Badge::RULES.invert, prompt: true %>
  </p>

  <p class="test-input hide">
    <%= form.label :test %>
    <%= form.collection_select :test_id, Test.all, :id, :title, prompt: true %>
  </p>

  <p class="category-input hide">
    <%= form.label :category %>
    <%= form.collection_select :category_id, Category.all, :id, :name, prompt: true %>
  </p>

  <p class="level-input hide">
    <%= form.label :level %>
    <%= form.select :level, Test.all_levels %>
  </p>

  <%= form.submit %>
<% end %>
