<div class="navbar navbar-light bg-lightr">
  <%= link_to 'Tests', root_path %>
  <%= link_to 'Gists', admin_gists_path %>
  <%= link_to 'New Badge', new_admin_badge_path %>

  <div class="navbar-text">
    <% if user_signed_in? %>
      Welcome, <%= current_user.email %></b> Guru |
      <%= link_to 'Logout', destroy_user_session_path, class: 'btn btn-secondary', method: :delete %>
    <% end %>
  </div>
</div>
